body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

/* green color -> #5f9341 */

input {
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
    padding: 10px;
    box-sizing: border-box; /* Size the element around its borders*/
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    padding: 10px 20px;
    background-color: #5f9341;
    border: 1px solid #5f9341;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

#delete-btn {
    background-color: #ffffff;
    color: #5f9341;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

li {
    text-align: left;
    margin-top: 5px;
}

li a {
    color: #5f9341;
}